/* .addReview {
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    background: #000;
    z-index: 1000;
  }*/
  /* div.container{
    position: relative;
    width: 400px;
    /* background: #111; */
    /* padding: 20px 30px;
    /* border: 1px solid #444; */
    /* border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }  */
  .container .post{
    /* display: none; */
  }
  .container .text{
    font-size: 25px;
    color: #666;
    font-weight: 500;
  }
  .container .review-edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
  }
  .container .edit:hover{
    text-decoration: underline;
  }
  .container .star-widget input{
    display: block;
  }
  .star-widget label{
    font-size: 40px;
    color: rgb(138, 138, 138);
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
  }
  input.star-widget:not(:checked) ~ label:hover,
  input.star-widget:not(:checked) ~ label:hover ~ label{
    color: #fe7
  }
  input.star-widget:checked ~ label{
    color: #fc6989;
  }
  input.star-widget#rate-5:checked ~ label{
    color: #fc6989;
    text-shadow: 0 0 20px #952;
  }
  #rate-1:checked ~ form header:before{
    content: "1: I just hate it ";
  }
  #rate-2:checked ~ form header:before{
    content: "2: I don't like it ";
  }
  #rate-3:checked ~ form header:before{
    content: "3: It is awesome ";
  }
  #rate-4:checked ~ form header:before{
    content: "4: I just like it ";
  }
  #rate-5:checked ~ form header:before{
    content: "5: I just love it ";
  }
  /* .container form{
    display: none;
  } */
  /* input:checked ~ form{
    display: block;
  } */
  form header{
    width: 100%;
    font-size: 25px;
    color: #fc6989;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
  }
  form .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
  }
  form .textarea textarea{
    height: 100%;
    width: 100%;
    color: white;
    /* border: 1px solid #333; */
    background: #fc6989;
    padding: 10px;
    resize: none;
    outline: none;
    border: 1px solid #fff;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
  }
  /* .textarea textarea:focus{
    border-color: #444;
  } */
  form .review-btn{
    height: 45px;
    width: 100%;
    margin: 15px 0;
  }
  form .review-btn button{
    height: 100%;
    width: 50%;
    /* border: 1px solid #444; */
    /* outline: none;
    background: #fc6989;
    color: white;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px; */

    outline: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 8px 17px;
    background: #fc6989;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
  }
  form .review-btn button:hover{
    /* background: #1b1b1b; */
    background: #F6416C;
  } 